/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}
.no-margin {
    margin-top: 0;
}
.no-line-height {
    font-size: 0;
}
.text-center {
    text-align: center;
}
.statistic-bg {
    background-color: slategray!important;
    margin-right: 5px!important;
    margin-left: 5px!important;
    border-radius: 10px;
}
.statistic-bg > p {
    font-size: large;
    line-height: 1;
}

label.statistic-data {
    color: lemonchiffon;
    font-size: x-large;
    font-weight: bold;
}

.list.panel-list {
    font-size: large;
    line-height: 3;
    margin-top: 0;
    margin-bottom: 0;
}

/*.main-right-panel .align-middle {
    text-align: center;
}*/

.iu-btn-ipt {
  display: inline-block;
  box-sizing: border-box;
  width: 100%!important;
  height: 48px;
  opacity: 0;
  z-index: 1;
  background-color: #acc;
  cursor: pointer;

}
.iu-btn {
    position: absolute;
    left: 2%;
    width: 96%!important;
    font-size: 24px;
    color: #fff;
}

.user-data {
    font-size: large;
    line-height: 1;
}
.user-sta-data {
    color: powderblue;
    font-size: x-large;
    font-weight: bold;
}